/*
전체 컨텐츠 width: 1440px

왼쪽 컨텐츠:
  width: 240px
  메뉴:
    font-size: 18px
    높이: 60px
  서브 메뉴:
    font-size: 16px
    높이: 50px

오른쪽 컨텐츠:
  width: 1200px
  padding: 40px

오른쪽 컨텐츠 내부 섹션:
  width: 1120px
  padding: 40px
  엘리먼트간의 높이:
    근접성이 높으면 20px
    근접성이 낮으면 40px
  메뉴 제목:
    font-size: 20px
  목록 높이: 40px

섹션 내부 도움말
font-size: 14px
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  background-color: #f3f7ff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "AppleSDGothicNeoR";
}

@font-face {
  font-family: 'AppleSDGothicNeoR';
  src: local('AppleSDGothicNeoR'),
  url('./assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoR.ttf') format('opentype');
}